@page
@model Logs
@{
    ViewData["Title"] = "Logs";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Endpoint</th>
            <th>Request Data</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model.RequestLogs)
        {
            <tr>
                <td>@log.Id</td>
                <td>@log.Endpoint</td>
                <td>@log.RequestData</td>
                <td>@log.Timestamp</td>
            </tr>
        }
    </tbody>
</table>
